<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYA | UMG</title>

    <!-- HOJA DE ESTILOS CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- HOJA DE ESTILOS PROPIA -->
    <link rel="stylesheet" href="../../../../assets/css/products.css">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/be221c52b4.js" crossorigin="anonymous"></script>

    <!-- ICONO EN EL TAB -->
    <link rel="icon" href="../../../../assets/img/umg.png">

    <!-- LINK DE GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body oncontextmenu="return false">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="../../../../assets/img/umg.png" alt="logo-proveedor" width="60" class="ms-2">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-auto mb-2 d-flex justify-content-center">
                        <!-- NOTHING -->
                    </ul>
                    <form class="d-flex px-4" role="close-session">
                        <button type="button" class="btn btn-danger rounded rounded-3"
                            onclick="closeSupplierSession()"><i class="fa-solid fa-door-open"></i> Cerrar Sesión</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="principal-text text-center">
            <h1>Cervecería</h1>
            <h2>"Bebidas Espirituosas"</h2>
            <p>¡Sumérgete en el verdadero Valhalla!</p>
        </div>
    </main>
    <section>
        <h2 class="text-center mt-5 text-muted h3">Productos</h2>
        <p class="text-muted text-center">"El exceso del consumo de este producto produce serios daños a la salud" - Decreto 90-97</p>
    </section>
    <section id="search-products" class="container mt-5">
        <div class="form-floating">
            <input type="text" class="form-control text-muted rounded rounded-5" id="floatingInput" placeholder="">
            <label for="floatingInput">Buscar un producto...</label>
        </div>
    </section>
    <section class="container mb-5 d-flex">
        <div class="row g-3 mt-5 justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/gallo.jpg" class="card-img" alt="producto" width="40">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Gallo</h5>
                        <p class="card-text">12 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/modelo.webp" class="card-img" alt="producto" width="20">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Modelo</h5>
                        <p class="card-text">6 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/montecarlo.jpg" class="card-img" alt="producto" width="40">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Monte Carlo</h5>
                        <p class="card-text">12 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/gallo.jpg" class="card-img" alt="producto" width="40">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Gallo</h5>
                        <p class="card-text">12 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/modelo.webp" class="card-img" alt="producto" width="20">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Modelo</h5>
                        <p class="card-text">6 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/montecarlo.jpg" class="card-img" alt="producto" width="40">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Monte Carlo</h5>
                        <p class="card-text">12 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/gallo.jpg" class="card-img" alt="producto" width="40">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Gallo</h5>
                        <p class="card-text">12 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card text-bg-dark h-auto shadow bg-light">
                    <img src="../../../../assets/img/gallo.jpg" class="card-img" alt="producto" width="40">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title mt-5">Gallo</h5>
                        <p class="card-text">12 pack</p>
                        <p class="card-text">Q55.56</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container-fluid mt-5 fondo-global p-5">
        <div class="row">
            <div class="col-lg-4 text-center mt-3 mb-3 text-black">
                <ul class="list-group">
                    <li class="list-unstyled">Sobre Nosotros</li>
                    <li class="list-unstyled">Estudios Realizados</li>
                    <li class="list-unstyled">Aplica a un Empleo</li>
                    <li class="list-unstyled">Comunidad Activa</li>
                    <li class="list-unstyled">Historial de Ubicaciones</li>
                </ul>
            </div>
            <div class="col-lg-4 text-center mt-3 mb-3 text-black">
                <p class="fw-bold">Servicio al Cliente</p>
                <ul class="list-group">
                    <li class="list-unstyled">Blog sobre Inquitudes</li>
                    <li class="list-unstyled">Contáctanos</li>
                    <li class="list-unstyled">FAQs</li>
                    <li class="list-unstyled">Historial de Compra</li>
                    <li class="list-unstyled">Producto para Mayoristas</li>
                </ul>
            </div>
            <div class="col-lg-4 text-center mt-3 mb-3 text-black">
                <ul class="list-group">
                    <li class="list-unstyled">Sobre Nosotros</li>
                    <li class="list-unstyled">Estudios Realizados</li>
                    <li class="list-unstyled">Aplica a un Empleo</li>
                    <li class="list-unstyled">Comunidad Activa</li>
                    <li class="list-unstyled">Historial de Ubicaciones</li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="footer-two container-fluid mt-3">
        <p class="text-center">&copy; Universidad Mariano Gálvez, Proyecto Seguridad Y Auditoría de Sistemas</p>
        <p class="text-center fw-bold">Abner Rodas, Luis Gómez, Daniel Rivas</p>
    </div>

    <!-- SCRIPT DE BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="../../api/supplierApi.js"></script>
</body>

</html>