* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLOR GLOBAL*/
.fondo-global {
    background-color: #ececec;
}

.color-texto-global {
    color: #6788ff;
}

.fondo-gris-oscuro-global {
    background-color: #3d3d3d;
}

.color-texto-gris-oscuro-global {
    color: #3d3d3d;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header nav ul{
    text-align: center;
}

header nav ul li:hover {
    text-decoration-line: underline;
    color: #6788ff;
}

main {
    min-height: 45vh;
    min-width: 100%;
    background-image: url(../img/cerveza-.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main .principal-text {
    color: #ffffff;
}

main .principal-text h1 {
    padding-top: 90px;
}

footer {
    color: #ffffff;
}

@media (max-width: 1400px) {
    .container-fluid .row .login-card {
        min-height: 100vh;
        padding: 40px 15px 0px 15px;
    }
}